body {
    background-color: #0071a1;
}
img#logo {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.733);
    border-radius: 150px;
}
header {
    text-align: center;
}
h1#titulo {
    font: normal 25pt Bungee;
    color: black;
    margin-bottom: 0px;
}
p#paragrafo {
    font: 15pt Bungee;
    color: white;
    margin-top: 0px;
}
section#box {
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.733);
    padding: 150px;
    width: 400px;
    margin: auto;
    border-radius: 50px;
}
div {
    font: normal 15pt Bungee;
    margin-bottom: 5px;
}
input {
    margin-bottom: 50px;
    border-radius: 100px;
    padding: 5px;
    width: 300px;

}
div#calltoaction {
    color: white;
}
input#botão {
    font: normal 13pt Bungee;
    margin-top: 10px;
    padding: 20px;
    width: 300px;
    margin-bottom: 0px;
    border-radius: 100px;
}
section#fotos {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
input#topo {
    font: normal 15pt Bungee;
    color: red;
    margin-top: 20px;
    padding: 20px;
    width: 300px;
    border-radius: 100px;
}
footer {
    text-align: center;
    font: normal 15pt Bungee;
}